*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 5px;
  background-color: wheat;
}

header {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  color: rgb(147, 147, 145);
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  text-align: center;
}

.error {
  color: rgb(177,43,43);
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.login {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 5px;
}

.online-user, .username {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.online-user {
  color: rgb(147, 147, 145);
}

.offline-user {
  display: none;
}

.users-container {
  grid-column: 1 / 2;
  grid-row: 1 / 4;

  border: 2px solid rgb(145,168,208);
  border-radius: 10px;
  padding: 10px 20px;
}

.messages-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 75vh;
  overflow-y: auto;

  border: 2px solid rgb(145,168,208);
  border-radius: 10px;
  padding: 10px 20px;
}

.username {
  margin-left: 5px;
}

.one-message-container div:last-child {
  border: 2px solid rgb(145,168,208);
  border-radius: 10px;
  padding: 5px 10px;
  overflow-wrap: break-word;
  max-width: fit-content;
}

.send-message-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.message-input {
  width: 100%;
  border: 2px solid rgb(145,168,208);
}

input, button {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgb(145,168,208);
  font-size: 15px;
}

button {
  border: none;
  margin-top: 5px;
  box-shadow: 2px 4px 4px rgb(145,168,208);
}

button:hover {
  font-size: 18px;
  transition: 0.4s;
}

.logout-container{
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  width: 300px;
}

.logout-button:hover {
  font-size: 15px;
  background-color: rgb(177, 43, 43);
  color: white;
}

.banana-punch-card {
  margin: 20px;
  padding: 10px;
  border: 2px solid #ffc107;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(255, 220, 65);
}

.banana-punch-card h3 {
  margin: 10px 0;
}

.banana-punch-card button {
  padding: 10px 20px;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.banana-punch-card button:hover {
  background-color: #e0a800;
}
